<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   OrionAlliance_NewModule
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OrionAlliance_NewModule::marketplace" title="SpecialistsGrid Marketplace Management" module="OrionAlliance_NewModule" sortOrder="10" resource="OrionAlliance_NewModule::marketplace"/>

        <add id="OrionAlliance_NewModule::product" title="Manage Product" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/product" resource="OrionAlliance_NewModule::product"/>

        <add id="OrionAlliance_NewModule::seller" title="Manage Seller" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/seller" resource="OrionAlliance_NewModule::seller"/>

        <add id="OrionAlliance_NewModule::commission" title="Manage Commission" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/commission" resource="OrionAlliance_NewModule::commission"/>

        <add id="OrionAlliance_NewModule::transaction" title="Sellers Transaction" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/transaction" resource="OrionAlliance_NewModule::transaction"/>

        <add id="OrionAlliance_NewModule::feedback" title="Manage Feedback" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/feedback" resource="OrionAlliance_NewModule::feedback"/>

        <add id="OrionAlliance_NewModule::menu" title="Menu" module="OrionAlliance_NewModule" translate="title" sortOrder="10" parent="OrionAlliance_NewModule::marketplace" dependsOnModule="OrionAlliance_NewModule" resource="OrionAlliance_NewModule::marketplace"/>

        <add id="OrionAlliance_NewModule::sellerflag" title="Seller Flag Reason" translate="title"  module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/sellerflag" resource="OrionAlliance_NewModule::sellerflag"/>

        <add id="OrionAlliance_NewModule::productflag" title="Product Flag Reason" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/productflag" resource="OrionAlliance_NewModule::productflag"/>

        <add id="OrionAlliance_NewModule::configattributes" title="Vendor Attributes" translate="title" module="OrionAlliance_NewModule" sortOrder="1" parent="OrionAlliance_NewModule::menu" action="marketplace/attributes" resource="OrionAlliance_NewModule::configattributes"/>

        <add id="OrionAlliance_NewModule::config_marketplace" title="Configuration Settings" translate="title" module="OrionAlliance_NewModule" sortOrder="100" parent="OrionAlliance_NewModule::menu" action="adminhtml/system_config/edit/section/marketplace" resource="OrionAlliance_NewModule::config_marketplace"/>

        <add id="OrionAlliance_NewModule::marketplace_support" title="Support" translate="title" module="OrionAlliance_NewModule" sortOrder="200" parent="OrionAlliance_NewModule::marketplace" resource="OrionAlliance_NewModule::marketplace_support"/>

        <add id="OrionAlliance_NewModule::marketplace_userguide" title="User Guide" translate="title" module="OrionAlliance_NewModule" sortOrder="100" parent="OrionAlliance_NewModule::marketplace_support" action="marketplace/support/blog" resource="OrionAlliance_NewModule::marketplace_userguide"/>

        <add id="OrionAlliance_NewModule::marketplace_extension" title="Store Extension" translate="title" module="OrionAlliance_NewModule" sortOrder="200" parent="OrionAlliance_NewModule::marketplace_support" action="marketplace/support/store" resource="OrionAlliance_NewModule::marketplace_extension"/>

        <add id="OrionAlliance_NewModule::marketplace_uvdesk" title="Ticket/Customisations" translate="title" module="OrionAlliance_NewModule" sortOrder="300" parent="OrionAlliance_NewModule::marketplace_support" action="marketplace/support/uvdesk" resource="OrionAlliance_NewModule::marketplace_uvdesk"/>

        <add id="OrionAlliance_NewModule::marketplace_services" title="Services" translate="title" module="OrionAlliance_NewModule" sortOrder="300" parent="OrionAlliance_NewModule::marketplace_support" action="marketplace/support/services" resource="OrionAlliance_NewModule::marketplace_services"/>

        <add id="OrionAlliance_NewModule::marketplace_reviews" title="Reviews" translate="title" module="OrionAlliance_NewModule" sortOrder="300" parent="OrionAlliance_NewModule::marketplace_support" action="marketplace/support/storereview" resource="OrionAlliance_NewModule::marketplace_reviews"/>

        <!-- <add id="OrionAlliance_NewModule::customer_attributes" title="Customer Attributes" translate="title" module="OrionAlliance_NewModule" sortOrder="10" parent="OrionAlliance_NewModule::menu" action="marketplace/customer/attribute/index" resource="OrionAlliance_NewModule::customer_attributes"/> -->

    </menu>
</config>
