<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   OrionAlliance_NewModule
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="OrionAlliance\NewModule\Api\Data\NotificationInterface" type="OrionAlliance\NewModule\Model\Notification"/>
    <preference for="OrionAlliance\NewModule\Api\NotificationRepositoryInterface" type="OrionAlliance\NewModule\Model\NotificationRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="marketplace_products_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Product\Grid\Collection</item>
                <item name="marketplace_products_listing_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Product\FrontGrid\Collection</item>
                <item name="marketplace_sellers_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Seller\Grid\Collection</item>
                <item name="marketplace_order_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Saleslist\Grid\Collection</item>
                <item name="marketplace_feedback_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Feedback\Grid\Collection</item>
                <item name="marketplace_transaction_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction\Grid\Collection</item>
                <item name="marketplace_commission_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Saleperpartner\Grid\Collection</item>
                <item name="marketplace_sellerflag_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\SellerFlagReason\Grid\Collection</item>
                <item name="marketplace_productflag_list_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\ProductFlagReason\Grid\Collection</item>
                <item name="marketplace_transactions_listing_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction\FrontGrid\Collection</item>
                <item name="marketplace_earning_listing_data_source" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Sellerearning\FrontGrid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="\OrionAlliance\NewModule\Model\Order\Pdf\Invoice">
        <plugin name="OrionAlliance_NewModule::invoicePdfHeader"
                type="OrionAlliance\NewModule\Model\Plugin\Order\InvoicePdfHeader"
                sortOrder="10" />
    </type>
    <type name="\OrionAlliance\NewModule\Model\Order\Pdf\Shipment">
        <plugin name="OrionAlliance_NewModule::shipmentPdfHeader"
                type="OrionAlliance\NewModule\Model\Plugin\Order\ShipmentPdfHeader"
                sortOrder="11" />
    </type>
    <type name="\OrionAlliance\NewModule\Model\Order\Pdf\Creditmemo">
        <plugin name="OrionAlliance_NewModule::creditmemoPdfHeader"
                type="OrionAlliance\NewModule\Model\Plugin\Order\CreditmemoPdfHeader"
                sortOrder="12" />
    </type>
    <type name="\Magento\Customer\Model\Session">
        <plugin name="OrionAlliance_NewModule::customerSessionVendorLogin"
                type="OrionAlliance\NewModule\Model\Plugin\Customer\Session"
                sortOrder="13" />
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Sellerearning\FrontGrid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_saleslist</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_sellerearning_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">sellerearning_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Saleslist</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction\FrontGrid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_sellertransaction</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_transaction_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">transaction_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction</argument>
        </arguments>
    </type> 
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Product\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_product</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_product_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">product_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Product</argument>
        </arguments>
    </type>
     <type name="OrionAlliance\NewModule\Model\ResourceModel\Product\FrontGrid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_product</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_product_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">product_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Product</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Seller\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_userdata</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_seller_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">seller_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Seller</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Saleslist\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_saleslist</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_order_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">order_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Saleslist</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Feedback\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_datafeedback</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_feedback_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">feedback_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Feedback</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_sellertransaction</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_transaction_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">transaction_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\Saleperpartner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_saleperpartner</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_commission_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">commission_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\Saleperpartner</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\SellerFlagReason\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_sellerflag_reason</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_sellerflagreason_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">sellerflagreason_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\SellerFlagReason</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Model\ResourceModel\ProductFlagReason\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">marketplace_productflag_reason</argument>
            <argument name="eventPrefix" xsi:type="string">marketplace_productflagreason_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productflagreason_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">OrionAlliance\NewModule\Model\ResourceModel\ProductFlagReason</argument>
        </arguments>
    </type>
    <virtualType name="MarketplaceGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ProductGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">OrionAlliance\NewModule\Model\ResourceModel\Product\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="SellerGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">OrionAlliance\NewModule\Model\ResourceModel\Seller\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="OrderGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">OrionAlliance\NewModule\Model\ResourceModel\Saleslist\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="FeedbackGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">OrionAlliance\NewModule\Model\ResourceModel\Feedback\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="TransactionGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">OrionAlliance\NewModule\Model\ResourceModel\Sellertransaction\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="CommissionnGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">OrionAlliance\NewModule\Model\ResourceModel\Saleperpartner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MarketplaceGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="order_approval_status" xsi:type="string">sales_order.order_approval_status</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="\Magento\Sales\Model\Order\Invoice\Total\Shipping">
        <plugin name="OrionAlliance_NewModule::invoiceTotalShippingCollect"
                type="OrionAlliance\NewModule\Model\Plugin\Order\Invoice\Total\Shipping"
                sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="OrionAlliance_NewModule::filterList" type="OrionAlliance\NewModule\Plugin\Catalog\Model\Layer\FilterList"/>
    </type>
    <!-- <type name="Magento\Elasticsearch\SearchAdapter\Filter\Builder">
        <plugin name="OrionAlliance_NewModule::SelectContainer" type="OrionAlliance\NewModule\Plugin\CatalogSearch\Model\Search\SelectContainer\SelectContainer" />
    </type> -->
    <preference for="Magento\Checkout\CustomerData\Cart" type="OrionAlliance\NewModule\CustomerData\Rewrite\Checkout\Cart" />
    <type name="OrionAlliance\NewModule\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="OrionAlliance\NewModule\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">marketplace</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">OrionAlliance\NewModule\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Collection" type="OrionAlliance\NewModule\Model\Rewrite\Catalog\ResourceModel\Product\Collection" />
    <preference for="Magento\Sitemap\Model\Sitemap" type="OrionAlliance\NewModule\Model\Rewrite\Sitemap\Sitemap" />
    <!-- plugin for Customer Id -->
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="marketplace-abstractaction-customerid-plugin" type="OrionAlliance\NewModule\Plugin\App\Action\Context" sortOrder="15"/>
    </type>
    <!-- plugin end -->  
    <preference for="OrionAlliance\NewModule\Api\SellerFlagReasonRepositoryInterface" type="OrionAlliance\NewModule\Model\SellerFlagReasonRepository"/>
	  <preference for="OrionAlliance\NewModule\Api\Data\SellerFlagReasonInterface" type="OrionAlliance\NewModule\Model\SellerFlagReason"/>
    <preference for="OrionAlliance\NewModule\Api\Data\SellerFlagReasonSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="OrionAlliance\NewModule\Api\ProductFlagReasonRepositoryInterface" type="OrionAlliance\NewModule\Model\ProductFlagReasonRepository"/>
	  <preference for="OrionAlliance\NewModule\Api\Data\ProductFlagReasonInterface" type="OrionAlliance\NewModule\Model\ProductFlagReason"/>
    <preference for="OrionAlliance\NewModule\Api\Data\ProductFlagReasonSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="OrionAlliance\NewModule\Api\SellerFlagsRepositoryInterface" type="OrionAlliance\NewModule\Model\SellerFlagsRepository"/>
	  <preference for="OrionAlliance\NewModule\Api\Data\SellerFlagsInterface" type="OrionAlliance\NewModule\Model\SellerFlags"/>
    <preference for="OrionAlliance\NewModule\Api\Data\SellerFlagsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="OrionAlliance\NewModule\Api\ProductFlagsRepositoryInterface" type="OrionAlliance\NewModule\Model\ProductFlagsRepository"/>
	  <preference for="OrionAlliance\NewModule\Api\Data\ProductFlagsInterface" type="OrionAlliance\NewModule\Model\ProductFlags"/>
    <preference for="OrionAlliance\NewModule\Api\Data\ProductFlagsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="OrionAlliance\NewModule\Api\OrdersRepositoryInterface" type="OrionAlliance\NewModule\Model\OrdersRepository"/>
    <preference for="OrionAlliance\NewModule\Api\Data\OrdersSearchResultInterface" type="OrionAlliance\NewModule\Model\ResourceModel\Orders\Collection"/>
    <preference for="OrionAlliance\NewModule\Api\Data\SaleslistSearchResultInterface" type="OrionAlliance\NewModule\Model\ResourceModel\Saleslist\Collection"/>
    <preference for="OrionAlliance\NewModule\Api\Data\FeedbackSearchResultInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="OrionAlliance\NewModule\Api\SaleslistRepositoryInterface" type="OrionAlliance\NewModule\Model\SaleslistRepository"/>
    <preference for="OrionAlliance\NewModule\Api\Data\FeedbackInterface" type="OrionAlliance\NewModule\Model\Feedback"/>
    <preference for="OrionAlliance\NewModule\Api\FeedbackRepositoryInterface" type="OrionAlliance\NewModule\Model\FeedbackRepository"/>
    
    <type name="Magento\Quote\Model\Quote">
        <plugin name="OrionAlliance_NewModule::validateMinimumAmount"
                type="OrionAlliance\NewModule\Plugin\Quote\Model\Quote"
                sortOrder="13" />
    </type>
    <type name="Magento\Quote\Model\Quote\Validator\MinimumOrderAmount\ValidationMessage">
        <plugin name="OrionAlliance_NewModule::getMessage"
                type="OrionAlliance\NewModule\Plugin\Quote\Model\Quote\Validator\MinimumOrderAmount\ValidationMessage"
                sortOrder="13" />
    </type>
    <preference for="OrionAlliance\NewModule\Api\Data\WysiwygImageInterface" type="OrionAlliance\NewModule\Model\WysiwygImage"/>
    <!-- <virtualType name="additionalFieldsProviderForElasticsearch" type="Magento\AdvancedSearch\Model\Adapter\DataMapper\AdditionalFieldsProvider">
        <arguments>
            <argument name="fieldsProviders" xsi:type="array">
                <item name="seller_id" xsi:type="object">OrionAlliance\NewModule\Model\Adapter\BatchDataMapper\CustomDataProvider</item>
            </argument>
        </arguments>
    </virtualType> -->
    <type name="Magento\Elasticsearch\Model\Adapter\Elasticsearch">
        <plugin name="elasticsearch-index-additional-filters"
                type="OrionAlliance\NewModule\Plugin\ElasticsearchFilterPlugin"/>
    </type>
    <!-- plugin used to check cart items limit -->
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="OrionAlliance_NewModule::checkSellerMaxQty" type="OrionAlliance\NewModule\Plugin\Block\ProductView" />
    </type>
</config>
